﻿@{
    ViewData["Title"] = "Home Page";
}

        <div class="item active">
            <img src="~/images/retailloc.jpg" class="img-responsive" />
            <div class="carousel-caption">
            </div>
        </div>
       
    

    
    
    
