@model IEnumerable<DataNandyala.Models.Storeloc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.StoreID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.StoreID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.StoreID">Delete</a>
        </td>
    </tr>
}
</table>
